.profile{
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-name{
    font-size: 18px;
    margin-top: 6px;
}

.profile-details{
    display:block;
}

.profile:hover .bookmark-button{
    display: block;
}

.bookmark-button{
    background: blue;
    position: absolute;
    right:1rem;
    bottom: 1rem;
    color: white;
    display: none;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: .5rem;
}